.dropdown {
  color: #fff;
  // display: none;
  position: absolute;

  ul {
    left: 0 !important;
    opacity: 1 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #092327;
    padding: 0;
    margin: 0;

    li {
      min-width: 150px;
      padding: 2vh 2vh !important;
    }
  }
}

@media screen and (max-width: 960px) {
  .dropdown {
    position: relative;
    ul {
      li {
        flex: 100%;
      }
    }
  }
}
