nav {
  background: #092327;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;

  // Link to style
  a {
    padding: 1.5rem 1rem;

    // Logo style.
    &.nav-logo {
      color: #fff;
      cursor: pointer;
      font-size: 1.6rem;
      margin-left: 1rem;

      &:hover {
        color: #f87060;
      }

      .fa-shipping-fast {
        margin-left: 1rem;
      }
    }
    // Logo style sonu.

    // Link to ile ilgili kodlar sonu.
  }

  // Menu Icon style
  .menu-icon {
    display: none;
    margin-right: 1rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    transition: all 0.5s ease;
    z-index: 1;

    // &.active {
    //   border: 1px solid white;
    // }

    li {
      list-style-type: none;

      a {
        color: white;

        &:hover {
          color: #f87060;
          text-decoration: none;
          transition: all 0.2s ease-out;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  nav {
    position: relative;
    justify-content: space-between;
    // padding: 0 2vh;

    .menu-icon {
      display: flex;
      font-size: 4vh;
      cursor: pointer;

      .fas {
        color: #fff;
      }
    }

    .menu {
      position: absolute;
      height: 90vh;
      width: 100vw;
      top: 10vh;

      ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: relative;
        height: 100%;
        left: -100%;
        opacity: 0;
        background-color: #092327;
        
        &.active {
          left: 0;
          opacity: 1;
          transition: all 0.5s ease;
        }
        
        li {
          padding: 3vh;
        }
      }
    }
  }
}
