// MOBILE
.orderCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  width: 90%;
  border: 1px solid $third-color;
  box-sizing: border-box;
  margin: 3vh auto;
  padding: 0 10px;

  .orderInfo,
  .clientInfo,
  .driverInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vh 0;
    padding: 0 2vh;

    h4 {
      margin: 0 0 3vh 0;
      text-transform: uppercase;
      color: $second-color;
      text-align: center;
      order: -2;
      font-size: 18px;
    }

    p {
      margin: 0;
      font-size: 14px;
    }

    .date {
      font-size: 12px;
      text-align: right;
      order: -1;
      color: $first-color;
    }
  }

  .orderInfo,
  .clientInfo {
    flex: 2;
    width: 100%;
    height: 100%;
    &:hover {
      cursor: pointer;
      background-color: rgba(205, 215, 214, 0.1);
    }
  }

  .orderInfo {
    order: 1;
    p {
      &:last-child {
        text-align: right;
        color: $first-color;
        font-size: 16px;
      }
    }
  }

  .driverInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2; // desktop 1
    order: -1; // burasi 0 olacak

    &:hover {
      cursor: pointer;

      .img {
        color: $second-color;
      }
    }

    .img {
      margin-bottom: 2vh;

      * {
        font-size: 50px; // desktop icin 40 30 olacak
      }
    }

    p {
      text-decoration: underline;
    }
  }
}

// TABLET
@media screen and (min-width: 480px) and (max-width: 959px) {
  .orderCard {
    border-color: $first-color;
    max-width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    min-height: 40vh;

    .orderInfo,
    .clientInfo {
      padding: 2vh 1vh;
      min-width: 300px;
    }

    .driverInfo {
      flex-basis: 100%;
      padding: 2vh 1vh 0;

      .img {
        * {
          font-size: 40px;
        }
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 960px) {
  .orderCard {
    border-color: $first-color;
    max-width: 60vw;
    flex-direction: row;
    min-height: 25vh;
    // padding: 0;
    
    .orderInfo,
    .clientInfo,
    .driverInfo {
      height: 25vh;
    }

    .driverInfo {
      flex: 1;
      order: 2;

      .img {
        * {
          font-size: 40px;
        }
      }

      p {
        font-size: 13px;
        text-align: center;
        text-decoration: underline;
      }
    }
  }
}
