// MOBILE
.allDrivers__container {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2vh;

  .workingDrivers {
    margin: 1vh auto;
    
    .workingDrivers__card {
      min-height: 40vh;

      .header {
        border-bottom: 1px solid $third-color;
        padding: 10px;
        margin-bottom: 2vh;

        h2 {
          padding: 2vh 0;
          color: $first-color;
          text-align: center;
        }
      }

      .workingDrivers__info {
        // width: 80vw;
        p {
          cursor: pointer;
          margin: 1vh 4vh;
          padding: 1vh 0;
          text-align: center;

          &:hover {
            background-color: $second-color;
            // border: 1px solid $second-color;
          }
        }

        span {
          display: block;
          margin: 1vh 0;
          text-align: center;
          text-decoration: underline;
        }

        img {
          display: block;
          margin: 5vh auto;
          width: 50%;
          padding-bottom: 5vh;
        }
      }
    }
  }
}

// TABLET
@media screen and (min-width: 480px) and (max-width: 959px) {
  .allDrivers__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    .workingDrivers {
      padding: 2vh;
      border: 1px solid $first-color;
      margin: 4vh 1vh 0;
      // box-shadow: 6px 6px black;
      z-index: 1;
      height: 100%;
      width: 400px;

      .workingDrivers__card {
        min-height: 70vh;
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 960px) {
  .allDrivers__container {
    flex-direction: row;
    align-items: center;

    .workingDrivers {
      padding: 2vh;
      width: 425px;
      border: 1px solid $first-color;
      box-shadow: 6px 6px black;

      .workingDrivers__card {
        min-height: 70vh;
      }
    }
  }
}
