$base-color: #0B5351;
$first-color: #092327;
$second-color: #F87060;
$third-color: #CDD7D6;
$text-color: #B3A394;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix {
    clear: both;
}

.displayOrder {
    display: none;
}

.hideOrder {
    display: block;
}

a {
    text-decoration: none;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

a:hover {
    text-decoration: none;
    outline: none;
}

@import "_NavBar.scss";
@import "_Dropdown.scss";
@import "_OrderCard.scss";
@import "_ModalForDrivers.scss";
@import "_SelectDrivers.scss";
@import "_NewDriver.scss";
@import "_NewDriverAvatar.scss";
@import "_Login.scss";

// Summary
@import "_Summary.scss";
@import "_Summary__AllDayInfo.scss";
@import "_Summary__DriverList.scss";

// Modal
@import "_Modal.scss";

// NoOrder
@import "_noOrder.scss";

// Search
@import "_SearchSomething.scss";