.dropdown {
  color: #fff;
  // display: none;
  position: absolute;
  
  ul {
    left: 0 !important;
    opacity: 1 !important;
    display: flex;
    flex-direction: column;
    background-color: #092327;
    padding: 0;

    li {
      padding: 1rem !important;
    }
  }
}

@media screen and (max-width: 960px) {
  .dropdown {
    position: relative;
  }
}