// MOBILE
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vh auto;
  width: 98vw;
  height: 96vh;
  // border: 1px solid rgb(124, 128, 124);
  // box-shadow: 5px 5px 0px $first-color;
  padding: 2vh 5vh;

  .logo {
    display: flex;
    justify-content: center;
    width: 30%; // 40%
    height: 20%; // 30% resme göre degistirilebilir
    margin-bottom: 3vh;

    img {
      width: 200px;
    }
  }

  h1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  form {
    width: 90%;

    input {
      width: 100%;
      padding: 1vh 2vh;
      margin: 1vh 0 0 0;
      display: inline-block;
      border: 1px solid $third-color;
      box-sizing: border-box;
      line-height: 1.8rem;
    }

    input[type="submit"] {
      background-color: $first-color;
      color: #fff;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      margin: 3vh 0 0 0;

      &:hover {
        background-color: $second-color;
        color: $first-color;
      }
    }
  }
}

// TABLET
@media screen and (min-width: 480px) and (max-width: 959px) {
  .login {
    justify-content: space-evenly;
    .logo {
      display: flex;
      justify-content: center;
      width: 45%; // 40%
      height: 20%; // 30% resme göre degistirilebilir
      img {
        width: 200px;
      }
    }
    h1 {
      color: red;
    }
  }
}

// DESKTOP
@media screen and (min-width: 960px) {
  .login {
    justify-content: space-evenly;
    margin: 10vh auto;
    width: 45vw;
    height: 80vh;
    border: 1px solid rgb(124, 128, 124);
    box-shadow: 5px 5px 0px $first-color;
    padding: 2vh 5vh;

    .logo {
      display: flex;
      justify-content: center;
      width: 45%; // 40%
      height: 20%; // 30% resme göre degistirilebilir

      img {
        width: 200px;
      }
    }

    form {
      width: 75%;
    }
  }
}
