$primaryColor : #CDD7D6;
$secondaryColor : #F87060;
$thirdColor : #0B5351;
$fourthColor : #092327;
$fifth-color: #B3A394;

.newDriver__container {
    height: 79vh;

    // justify-content: center;
    // padding: 20px;
    // margin: 50px;

    form {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: 4% auto;
        padding: 2% 0;
        border: 3px solid $fourthColor;


        h2 {
            margin: 0 auto;
        }


        label {
            display: flex;
            flex-direction: column;
            width: 80%;
            color: $fourthColor;
            margin: 10px auto;
            line-height: 30px;

            input {
                line-height: 30px;
                display: block;
                padding: 5px;
                border: 1px solid $thirdColor;

                &:focus {
                    outline: 3px solid $secondaryColor;
                }

                &[type="submit"] {
                    width: 50%;
                    margin: 5% auto 0 auto;
                    background-color: $thirdColor;
                    border-radius: 3px;
                    color: #fff;

                    &:hover {
                        background-color: $secondaryColor;
                        color: $fourthColor;
                    }
                }
            }
        }
    }


}