$primaryColor : #CDD7D6;
$secondaryColor : #F87060;
$thirdColor : #0B5351;
$fourthColor : #092327;


.allDrivers__container {
    height: 79vh;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 50px;



    .workingDrivers {
        border: 5px solid $thirdColor;
        padding: 50px;
        width: 500px;
        background-color: $primaryColor;

        .workingDrivers__card {
            display: flex;
            flex-direction: column;


            .header {
                border: 3px solid $fourthColor;
                padding: 10px;
                background-color: $thirdColor;
                color: white;
                display: flex;
                justify-content: center;

            }

            .workingDrivers__info {
                margin-top: 20px;

                p {
                    border: 3px solid $fourthColor;
                    padding: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: $secondaryColor;
                        color: white;
                    }
                }

            }
        }
    }


}