* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.displayOrder {
  display: none;
}

.hideOrder {
  display: block;
}

a {
  text-decoration: none;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

a:hover {
  text-decoration: none;
  outline: none;
}

nav {
  background: #092327;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

nav a {
  padding: 1.5rem 1rem;
}

nav a.nav-logo {
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  margin-left: 1rem;
}

nav a.nav-logo:hover {
  color: #f87060;
}

nav a.nav-logo .fa-shipping-fast {
  margin-left: 1rem;
}

nav .menu-icon {
  display: none;
  margin-right: 1rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: white;
}

nav ul li a:hover {
  color: #f87060;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px) {
  nav {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 4vh;
    cursor: pointer;
  }
  nav .menu-icon .fas {
    color: #fff;
  }
  nav .menu {
    position: absolute;
    height: 90vh;
    width: 100vw;
    top: 10vh;
  }
  nav .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: relative;
    height: 100%;
    left: -100%;
    opacity: 0;
    padding: 0;
    background-color: #092327;
  }
  nav .menu ul.active {
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
  }
  nav .menu ul li {
    padding: 3rem;
  }
}

.dropdown {
  color: #fff;
  position: absolute;
}

.dropdown ul {
  left: 0 !important;
  opacity: 1 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #092327;
  padding: 0;
}

.dropdown ul li {
  padding: 1rem !important;
}

@media screen and (max-width: 960px) {
  .dropdown {
    position: relative;
  }
}

.orderCard {
  background-color: #CDD7D6;
  border: 3px solid #0B5351;
  width: 60%;
  margin: 10px auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orderCard:hover {
  border: 3px solid #F87060;
  background-color: #B3A394;
}

.orderCard h4 {
  margin: 0 0 10px 0;
}

.orderCard p {
  margin: 5px 0;
}

.orderCard .driverInfo img {
  width: 50px;
}

@media screen and (max-width: 960px) {
  .orderCard {
    background-color: #CDD7D6;
    border: 3px solid #0B5351;
    width: 60%;
    margin: 10px auto;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.driverCard {
  border: 3px solid #092327;
  background-color: #F87060;
  color: #FFF;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.driverCard:hover {
  border: 3px solid #F87060;
  background-color: #0B5351;
  color: #FFF;
}

.allDrivers__container {
  height: 79vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  margin: 50px;
}

.allDrivers__container .workingDrivers {
  border: 5px solid #0B5351;
  padding: 50px;
  width: 500px;
  background-color: #CDD7D6;
}

.allDrivers__container .workingDrivers .workingDrivers__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.allDrivers__container .workingDrivers .workingDrivers__card .header {
  border: 3px solid #092327;
  padding: 10px;
  background-color: #0B5351;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.allDrivers__container .workingDrivers .workingDrivers__card .workingDrivers__info {
  margin-top: 20px;
}

.allDrivers__container .workingDrivers .workingDrivers__card .workingDrivers__info p {
  border: 3px solid #092327;
  padding: 10px;
  cursor: pointer;
}

.allDrivers__container .workingDrivers .workingDrivers__card .workingDrivers__info p:hover {
  background-color: #B3A394;
  border: 3px solid #F87060;
}

.newDriver__container {
  height: 79vh;
}

.newDriver__container form {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4% auto;
  padding: 2% 0;
  border: 3px solid #092327;
  background-color: #CDD7D6;
}

.newDriver__container form h2 {
  margin: 0 auto;
}

.newDriver__container form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  color: #092327;
  margin: 5px auto;
  line-height: 30px;
}

.newDriver__container form label input {
  line-height: 30px;
  display: block;
  padding: 5px;
  border: 1px solid #0B5351;
}

.newDriver__container form label input:focus {
  outline: 3px solid #F87060;
}

.newDriver__container form label input[type="submit"] {
  width: 50%;
  margin: 5% auto 0 auto;
  background-color: #0B5351;
  border-radius: 3px;
  color: #fff;
}

.newDriver__container form label input[type="submit"]:hover {
  background-color: #F87060;
  color: #092327;
}

.summary__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
}

.summary__container .summary__day {
  height: 15vh;
  width: 80vw;
  background-color: #B3A394;
}

.summary__container .summary__drivers {
  background-color: yellow;
}

.summary__container .summary__drivers .drivers__endDayCard {
  height: 50vh;
}

.summary__container .summary__drivers .drivers__endDayCard .card__items {
  width: 300px;
  height: 200px;
  background-color: #F87060;
  border: 3px solid #0B5351;
}

.summary__container .summary__drivers .drivers__endDayCard .card__items:hover {
  cursor: pointer;
  background-color: #CDD7D6;
}
/*# sourceMappingURL=style.css.map */